.rules p {
  margin: 10px;
}

.rules ul {
  padding-left: 40px;
}

.rules img {
  max-width: 100%;
}

.characters-list {
  padding-top: 30px;
  display: grid;
  gap: 30px;
}

@import './SearchMessage/index.scss';
@import './NotFound/index.scss';